* {
    margin: 0;
    background: black;
    color: antiquewhite;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
}
body {
width: 100%;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}

.logo {
    width: 250px;
}

.login-box {
    display: flex;
    flex-direction: column;
    align-items: center;  
    justify-content: center;
    padding: 10px;
}

.botao {
    background-color: blueviolet;
    border-radius: 5px;
    padding: 8px;
    width: 200px;
    margin-bottom: 20px;
    cursor: pointer;
    
}

.cadastro {
    padding: 10px;
    margin-bottom: 50px;
}

.cadas {
    color: blueviolet;
}

.links {
display: flex;
flex-direction: row;   
align-items: center;
justify-content: space-between;
font-size: 12px;
}

.sobre {
    display: flex;
    flex-direction: row;
    font-size: 9px;
}

.email {
    border: 1px solid white;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
}

.senha {
    border: 1px solid white;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
}